USE [DemoDB]
GO
/****** Object:  Table [dbo].[answers]    Script Date: 4/28/2022 3:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answers](
	[id] [bigint] NOT NULL,
	[text] [nvarchar](300) NOT NULL,
	[question_id] [bigint] NOT NULL,
 CONSTRAINT [PK_answers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 4/28/2022 3:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [bigint] NOT NULL,
	[answer_id] [bigint] NULL,
	[marks] [float] NOT NULL,
	[subject_id] [varchar](255) NULL,
	[text] [nvarchar](300) NULL,
 CONSTRAINT [PK_questions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 4/28/2022 3:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[username] [varchar](255) NOT NULL,
	[birthday] [date] NULL,
	[email] [varchar](255) NULL,
	[gender] [bit] NOT NULL,
	[marks] [float] NOT NULL,
	[password] [varchar](255) NULL,
	[schoolfee] [float] NOT NULL,
	[fullname] [varchar](255) NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 4/28/2022 3:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[id] [varchar](255) NOT NULL,
	[logo] [varchar](100) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_subjects] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[answers] ([id], [text], [question_id]) VALUES (103343, N'Thực hiện thao tác dữ liệu và truy vấn dữ liệu', 24916)
INSERT [dbo].[answers] ([id], [text], [question_id]) VALUES (103344, N'Quản lý lưu trữ dữ liệu, thao tác dữ liệu và truy vấn dữ liệu', 24916)
INSERT [dbo].[answers] ([id], [text], [question_id]) VALUES (103345, N'Quản lý lưu trữ dữ liệu, thêm, sửa, xóa dữ liệu', 24916)
GO
INSERT [dbo].[questions] ([id], [answer_id], [marks], [subject_id], [text]) VALUES (24916, NULL, 1, N'DBBS', N'Phát biểu nào dưới đây là đúng về quản lý dữ liệu?')
INSERT [dbo].[questions] ([id], [answer_id], [marks], [subject_id], [text]) VALUES (24917, NULL, 1, N'DBBS', N'Hệ quản trị cơ sở dữ liệu không mang lại các lợi ích nào sau đây?')
INSERT [dbo].[questions] ([id], [answer_id], [marks], [subject_id], [text]) VALUES (24918, NULL, 1, N'DBBS', N'Phát biểu nào là đúng cho mô hình dữ liệu phân cấp?')
GO
INSERT [dbo].[students] ([username], [birthday], [email], [gender], [marks], [password], [schoolfee], [fullname]) VALUES (N'nopt', CAST(N'1993-05-15' AS Date), N'nopt@fpt.edu.vn', 0, 0, N'iloveyou', 2000000, N'Ph?m Th? N?')
INSERT [dbo].[students] ([username], [birthday], [email], [gender], [marks], [password], [schoolfee], [fullname]) VALUES (N'pheonv', CAST(N'1985-10-11' AS Date), N'pheonv@fpt.edu.vn', 1, 0, N'iloveyou', 2500000, N'Nguy?n Van Chí Phèo')
INSERT [dbo].[students] ([username], [birthday], [email], [gender], [marks], [password], [schoolfee], [fullname]) VALUES (N'teonv', CAST(N'1995-12-21' AS Date), N'teonv@fpt.edu.vn', 1, 0, N'iloveyou', 1500000, N'Nguy?n Van Tèo')
GO
INSERT [dbo].[subjects] ([id], [logo], [name]) VALUES (N'ADAV', N'ADAV.jpg', N'Lập trình Android nâng cao')
INSERT [dbo].[subjects] ([id], [logo], [name]) VALUES (N'ADBS', N'ADBS.jpg', N'Lập trình Android cơ bản')
INSERT [dbo].[subjects] ([id], [logo], [name]) VALUES (N'ADTE', N'ADTE.jpg', N'Kiểm thử và triển khai ứng dụng Android')
GO
ALTER TABLE [dbo].[answers]  WITH CHECK ADD  CONSTRAINT [FK_answers_questions] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[answers] CHECK CONSTRAINT [FK_answers_questions]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK_questions_subjects] FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK_questions_subjects]
GO
