<body>
    <div class="container ">
        <header class="row">
            <img class="col-12" src="images/banner.png">
        </header>
        <nav class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light col">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="Assigntment.html"> <i class="fas fa-home"></i>Trang Chủ <span
                                    class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="gioithieu.html"> <i class="fas fa-grip-lines-vertical"></i> Giới Thiệu </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="LienHe.html"><i class="fas fa-id-card-alt"></i> Liên Hệ </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="DanhSach.html"><i class="fas fa-list"></i> Danh Sách </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="GopY.html"><i class="fas fa-comments"></i> Góp Ý </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fas fa-question"></i> Hỏi Đáp </a>
                        </li>



                    </ul>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-friends"></i> Tài Khoản
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="login.html"><i class="fas fa-registered"></i>Đăng Nhập</a>
                        <a class="dropdown-item" href="Dangky.html"><i class="fas fa-sign-in-alt"></i> Đăng Ký</a>
                        <a class="dropdown-item" href="QMK.html"><i class="fas fa-share-square"></i>Quên Mật Khẩu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt"></i>Đăng Xuất</a>
                        <a class="dropdown-item" href="changepass.html"><i class="fas fa-exchange-alt"></i>Đổi Mật Khẩu</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>Cập Nhật Hồ Sơ</a>
                    </div>
                </div>
            </nav>
        </nav>
        <div class="row" >
            <div class="col-8 mt-4">
                <article>
					<h2><i class="fas fa-home"></i> Cơ Sở Tại Đà Nẵng</h2>
                    <hr/>
					<h4><i class="fas fa-mouse"></i> Phổ Thông Cao Đẳng Được Thành Lập Khi Nào</h4>
                    <h6>Chương trình Phổ thông Cao đẳng tại Cao đẳng FPT Polytechnic được thành lập năm 2019, trực thuộc Tổ chức Giáo dục FPT –
                     Một trong những Tổ chức Giáo dục uy tín, danh giá, có nhiều thành tựu, giải thưởng Quốc tế bậc nhất Việt Nam. </h6>
                     <hr/>
                    <h4><i class="fas fa-mouse"></i> Điều Kiện Xét Tuyển Của Phổ Thông Cao Đẳng FPT là gì?</h4>
                    <h6>Để được xét tuyển đầu vào tại Phổ thông Cao đẳng thí sinh cần tốt nghiệp THCS, có tổng điểm của 2 môn trong 4 môn văn hoá (toán, ngữ văn, vật lý, hoá học) 
                        của học kỳ gần nhất tại thời điểm xét tuyển đạt từ 10 điểm trở lên.</h6>
                    <hr>
                    <h4><i class="fas fa-mouse"></i> Thủ Tục Nộp Hồ Sơ Cần Những Giấy Tờ Gì?</h4>
                    <h6>Hồ sơ xét tuyển bao gồm:<br>
                        – 01 Phiếu đăng ký học có dán ảnh và có dấu xác nhận của công an địa phương hoặc trường cấp 2 thí sinh đang theo học<br>
                        – 01 Bản sao công chứng giấy khai sinh hoặc 01 bản sao chứng minh thư nhân dân của thí sinh<br>
                        – 01 Bản sao công chứng bằng tốt nghiệp THCS hoặc Giấy chứng nhận tốt nghiệp tạm thời. (Chú ý: Thí sinh nộp giấy chứng nhận tốt nghiệp tạm thời phải bổ sung bản sao công chứng Bằng tốt nghiệp THCS ngay sau khi nhận được).<br>
                        – 02 ảnh 4×6</h6>
                    <hr/>
                    <h4><i class="fas fa-mouse"></i> Tốt Nghiệp Ra Trường Sinh Viên Sẽ Được Cấp Bằng Gì?</h4>
                    <h6> Sinh viên Phổ thông Cao đẳng sau 4 năm học ra trường sẽ được cấp bằng Cao đẳng Chính quy do Cao đẳng FPT Polytechnic 
                        cấp dưới sự quản lý của Bộ Lao động Thương Binh & Xã hội.</h6>
                    <hr/>
                    <h4><i class="fas fa-mouse"></i> Học Xong Trường Có Sắp Xếp Việc Làm Cho Học Sinh Không</h3><br>
                    <h6>Phòng Quan hệ doanh nghiệp tại Phổ thông Cao đẳng sẽ hỗ trợ để giới thiệu việc làm cho các bạn sinh viên sau khi tốt nghiệp. 
                        Không chỉ sau khi học xong mà ngay trong quá trình học, các bạn sẽ được giới thiệu những công việc phù hợp với năng lực của mình. Hiện nay trường đang liên kết với hơn 500 doanh nghiệp trong và ngoài tập đoàn, cộng với những kĩ năng và kinh nghiệm sau 04 năm học các bạn sinh viên có thể hoàn toàn tự tin và không cần phải lo 
                        lắng về vấn đề việc làm sau khi ra trường.</h6>
                    <hr>
                    <h4><i class="fas fa-mouse"></i> Sinh Viên Tốt Nghiệp Phổ Thông Cao Đẳng FPT Có Thể Học Liên Thông Lên Các Trường Đại Học Được Hay Không </h4>
                    <h6>Sinh viên sau tốt nghiệp có thể học liên thông lên các trường Đại học. Tùy thuộc vào trường Đại học sinh viên mong muốn theo học có ngành học liên thông tương đương với ngành học theo học tại Phổ thông Cao đẳng hay không. 
                        Sau đó người học phải trải qua kỳ thi liên thông của trường Đại học và xét duyệt các môn học còn thiếu để học bổ sung.</h6>
            </div>
            <div class="col-4">
              <aside class="float-right">
                <div class="poly-cart mr-8">
                  <div class="card mt-2">
                    <div class="card-header">
                      <i class="fas fa-list"></i>
                      Danh Mục
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item ">Lập Trình Androi Nâng Cao <span class="badge badge-warning">20</span>
                      </li>
                      <li class="list-group-item">Xây Dựng Trang Web <span class="badge badge-primary">10</span></li>
                      <li class="list-group-item">Cơ Sở Dữ Liệu <span class="badge badge-info">30</span></li>
                      <li class="list-group-item">SQL Sevrer <span class="badge badge-pill">20</span></li>
                      <li class="list-group-item">Intenet Making <span class="badge badge-secondary">10</span> </li>
                      <li class="list-group-item">Lập Trình HDT java <span class="badge badge-success">20</span></li>
                      <li class="list-group-item"><a href="">Lập Trình PHP</a><span class="badge badge-dark">10</span>
                      </li>
                      <li class="list-group-item">Điện Toán Đám Mây <span class="badge badge-dark">20</span></li>
                      <li class="list-group-item">Lập Trình Androi Cơ Bản <span class="badge badge-warning">10</span>
                      </li>
                      <li class="list-group-item">Lập Trình Game 2D <span class="badge badge-light">20</span></li>
                      <li class="list-group-item">Thiết Kế Gia Diện Trên Androi <span class="badge badge-info">10</span>
                      </li>
                      <li class="list-group-item">Thiết Kế Web Cho Điện Thoại <span class="badge badge-success">20</span>
                      </li>
                      <li class="list-group-item">Lập Trình ASP.NET <span class="badge badge-danger">10</span></li>
                    </ul>
                  </div>
                </div>
              </aside>
            </div>
          </div>
    <footer class="row">
        <div class="card col">
            <div class="card-body text-center">
                <p> Lamntpd05350@FPT.EDU.VN &copy; 2021.All right reserved .</p>
            </div>
        </div>
    </footer>
    </div>
</body>