
<div class="container ">
    <header class="row">
        <img class="col-12" src="images/banner.png">
    </header>
    <nav class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light col">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="Assigntment.html"> <i class="fas fa-home"></i>Trang Chủ <span
                                class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="gioithieu.html"> <i class="fas fa-grip-lines-vertical"></i> Giới Thiệu </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="DanhSach.html"><i class="fas fa-list"></i> Danh Sách </a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="LienHe.html"><i class="fas fa-id-card-alt"></i> Liên Hệ </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="GopY.html"><i class="fas fa-comments"></i> Góp Ý </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="hoidap.html"><i class="fas fa-question"></i> Hỏi Đáp </a>
                    </li>

                </ul>
            </div>
        </nav>
    </nav>
    <div class="row" >
        <div class="col-8 mt-4">
          <div class="jumbotron mr-auto">
            <h1 class="display-3"> Chào Mừng Bạn Đến Với Môn Front-End FrameWorks</h1>
            <p class="lead">Boostrap là một framework cho phép thiết kế website reponsive nhanh hơn và dễ dàng hơn
              AngularJS được biết đến là một framework được phát triển trên nền tảng javaScript,dùng để khởi tạo các ứng
              dụng RIA</p>
            <hr class="my-2">
            <p>Xem Thêm</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="https://caodang.fpt.edu.vn/category/gioithieu/gioi-thieu-chung"
                role="button">Xem Thêm</a>
            </p>
          </div>
  
  
  
        </div>
        <div class="col-4">
          <aside class="float-right">
            <div class="poly-cart mr-8">
              <div class="card mt-2">
                <div class="card-header">
                  <i class="fas fa-list"></i>
                  Danh Mục
                </div>
                <ul class="list-group">
                  <li class="list-group-item "><a href="tracnghiem.html">Xây Dựng Trang Web</a> <span class="badge badge-warning">20</span>
                  </li>
                  <li class="list-group-item"><a href="">Lập Trình Androi Nâng Cao</a><span class="badge badge-primary">10</span></li>
                  <li class="list-group-item"><a href="">Cơ Sở Dữ Liệu</a><span class="badge badge-info">30</span></li>
                  <li class="list-group-item"><a href="">SQL Sevrer</a><span class="badge badge-pill">20</span></li>
                  <li class="list-group-item"><a href="">Intenet Making</a><span class="badge badge-secondary">10</span> </li>
                  <li class="list-group-item"><a href="">Lập Trình HDT java</a><span class="badge badge-success">20</span></li>
                  <li class="list-group-item"><a href="">Lập Trình PHP</a><span class="badge badge-dark">10</span>
                  </li>
                  <li class="list-group-item"><a href="">Điện Toán Đám Mây</a><span class="badge badge-dark">20</span></li>
                  <li class="list-group-item"><a href="">Lập Trình Androi Cơ Bản </a><span class="badge badge-warning">10</span>
                  </li>
                  <li class="list-group-item"><a href="">Lập Trình Game 2D </a><span class="badge badge-light">20</span></li>
                  <li class="list-group-item"><a href="">Thiết Kế Gia Diện Trên Androi</a><span class="badge badge-info">10</span>
                  </li>
                  <li class="list-group-item"><a href="">Thiết Kế Web Cho Điện Thoại </a><span class="badge badge-success">20</span>
                  </li>
                  <li class="list-group-item"><a href="">Lập Trình ASP.NET </a><span class="badge badge-danger">10</span></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
<footer class="row">
    <div class="card col">
        <div class="card-body text-center">
            <p> Lamntpd05350@FPT.EDU.VN &copy; 2022.All right reserved .</p>
        </div>
    </div>
</footer>
</div>