<div class="container ">
    <header class="row">
        <img class="col-12" src="images/banner.png">
    </header>
    <nav class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light col">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="Assigntment.html"> <i class="fas fa-home"></i>Trang Chủ <span
                                class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="gioithieu.html"> <i class="fas fa-grip-lines-vertical"></i> Giới Thiệu </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="LienHe.html"><i class="fas fa-id-card-alt"></i> Liên Hệ </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="DanhSach.html"><i class="fas fa-list"></i> Danh Sách </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="GopY.html"><i class="fas fa-comments"></i> Góp Ý </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-question"></i> Hỏi Đáp </a>
                    </li>



                </ul>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-friends"></i> Tài Khoản
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="login.html"><i class="fas fa-registered"></i>Đăng Nhập</a>
                    <a class="dropdown-item" href="Dangky.html"><i class="fas fa-sign-in-alt"></i> Đăng Ký</a>
                    <a class="dropdown-item" href="QMK.html"><i class="fas fa-share-square"></i>Quên Mật Khẩu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt"></i>Đăng Xuất</a>
                    <a class="dropdown-item" href="changepass.html"><i class="fas fa-exchange-alt"></i>Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>Cập Nhật Hồ Sơ</a>
                </div>
            </div>
        </nav>
    </nav>
    <div class="row" >
        <div class="col-8 mt-4">
            <article>
                <h2>Cơ Sở Tại Đà Nẵng</h2>
                <h3>Địa Chỉ: 137 Nguyễn Thị Thập, Phường Hòa Minh, Quận Liên Chiểu,Thành Phố Đà Nẵng</h3>
                <h3>Số Điện Thoại Liên Hệ:</h3>
                <hr>
                <h3>Phòng Tư Vấn Tuuyển Sinh:(0236) 3710 999</h3><br>
                <h3>Phòng Giáo Vụ Đào Tạo:(0236) 3710 889</h3><br>
                <h3>Phòng Giáo Vụ Công Tác Sinh Viên:(0236) 3710 888</h3><br>
                <h3>Phòng Hành Chính:(0236) 3710 886</h3><br>
                <h3>Phòng Kế Toán:(0236) 3739 232</h3><br>
                <hr>
                <h4>Email:caodangfpt.dn@fpt.edu.vn</h4>
        </div>
        <div class="col-4">
          <aside class="float-right">
            <div class="poly-cart mr-8">
              <div class="card mt-2">
                <div class="card-header">
                  <i class="fas fa-list"></i>
                  Danh Mục
                </div>
                <ul class="list-group">
                  <li class="list-group-item ">Lập Trình Androi Nâng Cao <span class="badge badge-warning">20</span>
                  </li>
                  <li class="list-group-item">Xây Dựng Trang Web <span class="badge badge-primary">10</span></li>
                  <li class="list-group-item">Cơ Sở Dữ Liệu <span class="badge badge-info">30</span></li>
                  <li class="list-group-item">SQL Sevrer <span class="badge badge-pill">20</span></li>
                  <li class="list-group-item">Intenet Making <span class="badge badge-secondary">10</span> </li>
                  <li class="list-group-item">Lập Trình HDT java <span class="badge badge-success">20</span></li>
                  <li class="list-group-item"><a href="">Lập Trình PHP</a><span class="badge badge-dark">10</span>
                  </li>
                  <li class="list-group-item">Điện Toán Đám Mây <span class="badge badge-dark">20</span></li>
                  <li class="list-group-item">Lập Trình Androi Cơ Bản <span class="badge badge-warning">10</span>
                  </li>
                  <li class="list-group-item">Lập Trình Game 2D <span class="badge badge-light">20</span></li>
                  <li class="list-group-item">Thiết Kế Gia Diện Trên Androi <span class="badge badge-info">10</span>
                  </li>
                  <li class="list-group-item">Thiết Kế Web Cho Điện Thoại <span class="badge badge-success">20</span>
                  </li>
                  <li class="list-group-item">Lập Trình ASP.NET <span class="badge badge-danger">10</span></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
<footer class="row">
    <div class="card col">
        <div class="card-body text-center">
            <p> Lamntpd05350@FPT.EDU.VN &copy; 2021.All right reserved .</p>
        </div>
    </div>
</footer>
</div>